<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="description"
  content="Tenemos la mayor fábrica de reacondicionamiento de Europa, todos nuestros coches de segunda mano reacondicionados pasan por ella ¡conócela!">
  <meta name="robots" content="follow, index"/>
  <meta name="Author" content="Andrii"/>
  <meta name="keywords" content="carros,vender,comprar"/>
  <meta name="lang" content="es"/>
  <meta name="revisit-after" content="2 days"/>
  <meta name="category" content="Carros"/>
  <!-- Declaración de fichero de estilos -->
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
  <title>Coches de Segunda mano Reacondicionados</title>
  <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
</head>
<body>
  <header>
    <div id="div_header">
      <a href="../index.html">
        <img src="../images/logo.png" id="img_header" alt="logo" title="logo" height="241" width="980">
      </a>
    </div>
  </header>
  <nav>
    <ul class="div_menu">
      <li class="boton">
        <a href="../index.html" class="div_menu">Empresa</a>
      </li>
      <li class="botonin">
        <a href="#"
        class="div_menu">Comprar</a>
      </li>
      <li class="boton">
        <a href="presupuesto.html"
        class="div_menu">Vender</a>
      </li>
      <li class="boton">
        <a href="contacto.html"
        class="div_menu">Contactos</a>
      </li>
    </ul>
  </nav>
  <section>
    <div id="div_seccion_principal">
      <article class="div_contenedor">
        <h1>Coches de segunda mano y ocasion al mejor precio</h1>
        <div class="galery-container">
          <div class="flex-column">
            <img src="../images/car1.jpg" height="600" width="900" alt="carro">
            <div class="icon-text">
              Citroen C4 <span class="price">17.890€</span>

            </div>
            <button class="boton button_center">Comprar</button>
          </div>
          <div class="flex-column">
            <img src="../images/car2.jpg" height="600" width="900" alt="carro">
            <div class="icon-text">
              Peugeot 2008 <span class="price">17.990€</span>

            </div>
            <button class="boton button_center">Comprar</button>
          </div>
          <div class="flex-column">
            <img src="../images/car3.jpg" height="600" width="900" alt="carro">
            <div class="icon-text">
              Hyundai Tucson <span class="price">17.690€</span>

            </div>
            <button class="boton button_center">Comprar</button>
          </div>
          <div class="flex-column">
            <img src="../images/car4.jpg" height="600" width="900" alt="carro">
            <div class="icon-text">
              Renault Kangoo <span class="price">11.790€</span>

            </div>
            <button class="boton button_center">Comprar</button>
          </div>
          <div class="flex-column">
            <img src="../images/car5.jpg" height="600" width="900" alt="carro">
            <div class="icon-text">
              Volvo XC40 <span class="price">33.490€</span>

            </div>
            <button class="boton button_center">Comprar</button>
          </div>
          <div class="flex-column">
            <img src="../images/car6.jpg" height="600" width="900" alt="carro">
            <div class="icon-text">
              Citroen C3 Aircross <span class="price">16.990€</span>

            </div>
            <button class="boton button_center">Comprar</button>
          </div>
        </div>

      </article>
    </div>
  </section>
  <footer>
    <div id="div_footer">
      <a href="https://www.facebook.com" target="_blank" class="social-link">
        <img src="../images/facebook.svg" alt="facebook icon" height="15" width="15">
      </a>
      <a href="https://twitter.com" target="_blank" class="social-link">
        <img src="../images/twitter.svg" alt="twitter icon" height="15" width="15">
      </a>
      <a href="https://www.pinterest.com" target="_blank" class="social-link">
        <img src="../images/pinterest.svg" alt="pinterest icon" height="15" width="15">
      </a>
      España, Madrid
      © Carros usados 2024. Todos los derechos reservados </div>
    </footer>
  </body>
  </html>
