<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="description"
          content="Tenemos la mayor fábrica de reacondicionamiento de Europa, todos nuestros coches de segunda mano reacondicionados pasan por ella ¡conócela!">
    <meta name="robots" content="follow, index"/>
    <meta name="Author" content="Andrii"/>
    <meta name="keywords" content="carros,vender,comprar"/>
    <meta name="lang" content="es"/>
    <meta name="revisit-after" content="2 days"/>
    <meta name="category" content="Carros"/>
    <!-- Declaración de fichero de estilos -->
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <title>Coches de Segunda mano Reacondicionados</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
</head>
<body>
<header>
    <div id="div_header">
        <a href="#">
            <img src="img/logo.png" id="img_header" alt="logo" title="logo">
        </a>
    </div>

    <nav>
        <!--Div que contiene el menú-->
        <div class="div_menu">
          <span class="boton">
            <a href="index.html" class="div_menu">Empresa</a>
          </span>
            <span class="botonin">
            <a href="#"
               class="div_menu">Comprar</a>
          </span>
            <span class="boton">
            <a href="sell.html"
               class="div_menu">Vender</a>
          </span>
        </div>
    </nav>
</header>
<section>
    <div id="div_seccion_principal">
        <article class="div_contenedor">
            <header>
                <h1>Coches de segunda mano y ocasion al mejor precio</h1>
            </header>
            <div class="galery-container">
                <div class="flex-column">
                    <img src="img/car1.jpg" alt="carro">
                    <div class="icon-text">
                        Citroen C4 <span class="price">17.890€</span>

                    </div>
                    <button class="boton button_center">Comprar</button>
                </div>
                <div class="flex-column">
                    <img src="img/car2.jpg" alt="carro">
                    <div class="icon-text">
                        Peugeot 2008 <span class="price">17.990€</span>

                    </div>
                    <button class="boton button_center">Comprar</button>
                </div>
                <div class="flex-column">
                    <img src="img/car3.jpg" alt="carro">
                    <div class="icon-text">
                        Hyundai Tucson <span class="price">17.690€</span>

                    </div>
                    <button class="boton button_center">Comprar</button>
                </div>
                <div class="flex-column">
                    <img src="img/car4.jpg" alt="carro">
                    <div class="icon-text">
                        Renault Kangoo <span class="price">11.790€</span>

                    </div>
                    <button class="boton button_center">Comprar</button>
                </div>
                <div class="flex-column">
                    <img src="img/car5.jpg" alt="carro">
                    <div class="icon-text">
                        Volvo XC40 <span class="price">33.490€</span>

                    </div>
                    <button class="boton button_center">Comprar</button>
                </div>
                <div class="flex-column">
                    <img src="img/car6.jpg" alt="carro">
                    <div class="icon-text">
                        Citroen C3 Aircross <span class="price">16.990€</span>

                    </div>
                    <button class="boton button_center">Comprar</button>
                </div>
            </div>

        </article>
    </div>
</section>
<footer>
    <div id="div_footer">© Carros usados 2024. Todos los derechos reservados

    </div>
</footer>

</body>
</html>