<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="description"
          content="Tenemos la mayor fábrica de reacondicionamiento de Europa, todos nuestros coches de segunda mano reacondicionados pasan por ella ¡conócela!">
    <meta name="robots" content="follow, index"/>
    <meta name="Author" content="Andrii"/>
    <meta name="keywords" content="carros,vender,comprar"/>
    <meta name="lang" content="es"/>
    <meta name="revisit-after" content="2 days"/>
    <meta name="category" content="Carros"/>
    <!-- Declaración de fichero de estilos -->
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <title>Coches de Segunda mano Reacondicionados</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
</head>
<body class="div_contenedor">
<header>
    <div id="div_header">
        <a href="../index.html">
            <img src="../images/logo.png" id="img_header" alt="logo" title="logo">
        </a>
    </div>

    <nav>
        <ul class="div_menu">
            <li class="boton">
                <a href="../index.html" class="div_menu">Empresa</a>
            </li>
            <li class="boton">
                <a href="buy.html"
                   class="div_menu">Comprar</a>
            </li>
            <li class="boton">
                <a href="sell.html"
                   class="div_menu">Vender</a>
            </li>
            <li class="botonin">
                <a href="#"
                   class="div_menu">Contactos</a>
            </li>
        </ul>
    </nav>
</header>
<section>
    <div id="div_formulario">
        <article class="div_contenedor">
            Contacts

        </article>
    </div>
</section>
<footer>
    <div id="div_footer">© Carros usados 2024. Todos los derechos reservados

    </div>
</footer>

</body>
</html>